#macro(renderChangeSet $changeSet)
    <table class="commit-change-set" cellpadding="0" cellspacing="0">
        <tbody>
            #foreach($commitDiff in $changeSet)
                <tr>
                    <td class="change-set">
                        #set($action = $commitActionHelper.parse($commitDiff.getActionId()))
                        #set($path = $!commitDiff.getNewPath())
                        #if($!commitDiff.getOldPath())
                        #set($path = "$path (from $!{commitDiff.getOldPath()})")
                        #end
                        <span class='action action_$!{action.getId()}'>$!action.getName()</span>&nbsp;$!path<br>
                    </td>
                </tr>
            #end
        </tbody>
    </table>
#end

<div id="jigit-commits">
    <table class="commit" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th width="10%">Repository</th>
            <th width="10%">Branch</th>
            <th width="10%">Revision</th>
            <th width="10%">Date</th>
            <th width="10%">User</th>
            <th>Message<br>Change set</th>
        </tr>
        </thead>
        <tbody>
        #foreach($commit in $commits)
            <tr>
                #set($fullName = "")
                #if($commit.getRepoGroup())
                    #set($repo = $repos.get($!commit.getRepoGroup()))
                    #set($fullName = $groupRepoNaming.extractRepoFullName($!commit.getRepoName()))
                #else
                    #set($repo = $repos.get($!commit.getRepoName()))
                    #if($repo)
                        #set($fullName = $repo.getRepositoryId())
                    #end
                #end
                <td class="repo">$!commit.getRepoName()</td>
                <td class="branch">$!commit.getBranch()</td>
                <td class="sha1">
                    <div style="position: relative;">
                        <img class="jigit-copy-to-clip" title="Copy to clipboard" align="left"
                             data-sha1="$!commit.getCommitSha1()"
                             src="$req.contextPath/download/resources/com.apanasevich.jira-jigit-plugin:jigit-tab-panel-resources/copy.png">
                        #if($repo && $fullName)
                            <a href="${repo.getServerUrl()}/${fullName}/commit/$!{commit.getCommitSha1()}">
                            $!commit.getCommitSha1().substring(0, 5)...
                        </a>
                        #else
                            <span title="$!commit.getCommitSha1()">
                                $!commit.getCommitSha1().substring(0, 5)...
                            </span>
                        #end
                    </div>
                </td>
                <td class="date">$!dateFormatter.format($commitDateHelper.toLocal($!commit.getCreatedAt()))</td>
                <td class="author">$!commit.getAuthor()</td>
                <td style="text-align: left;">
                    <div class="message">$textutils.htmlEncode($!commit.getTitle())</div>
                    #renderChangeSet($commit.getCommitDiffs())
                </td>
            </tr>
        #end
        </tbody>
    </table>
</div>
